a.signOutLink, a.signOutLink:link, a.signOutLink:visited, a.signOutLink:hover, a.signOutLink:focus, a.signOutLink:active{
  color:white;
}

.navbar-right {
    margin-right: 0px;
}

table, th, td {
    border: 1px solid white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: center;
    z-index: 100;
}

.scroll {
	overflow: scroll;
	height: 300px;
}