<form>

        <br/>
        <br/>
        <br/>
        <div class="form-group" style="padding-left:10px;">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username" ng-model="form.username" style="width:50%">
        </div>
        <br/>
        <div class="form-group" style="padding-left:10px;">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name" ng-model="form.firstName" style="width:50%;">
        </div>
        <br/>
        <div class="form-group" style="padding-left:10px;">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name" ng-model="form.lastName" style="width:50%;">
        </div>
        <br/>
        <div class="form-group" style="padding-left:10px;">
            <label for="birthday">Birthday</label>
            <input type="date" class="form-control" id="birthday" placeholder="Birthday" ng-model="form.birthday" style="width:50%;">
        </div>
        <br/>
        <div class="form-group" style="padding-left:10px;">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Email" ng-model="form.email" style="width:50%;">
        </div>
        <br/>
        <div class="form-group" style="padding-left:10px;">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="form.password" style="width:50%;">
        </div>
        <br/>
        <div class="form-group" style="padding-left:10px;">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Password" ng-model="form.confirmPassword" style="width:50%;">
        </div>
        <br/>
        <div style="padding-left:10px;">
            <button type="button" class="btn btn-lg btn-danger" class="col-sm-3 btn-block" ng-click="home()">Back To Homepage</button>
            <button type="button" class="btn btn-lg btn-primary" class="col-sm-3 btn-block" ng-click="signUp()" type="submit" >Sign Up</button>
        <div/>

</form>

