<form id="login-form">
    <br/>
    <br/>
    <br/>
    <div class="form-group" style="padding-left:10px;">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Email" ng-model="form.email" style="width:50%">
    </div>
    <br/>
    <br/>
    <div class="form-group" style="padding-left:10px;">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="form.password" style="width:50%">
    </div>
    <br/>
    <br/>
    <div  style="padding-left:10px;">
    <button type="button" class="btn btn-lg btn-danger" class="col-sm-3 btn-block" ng-click="home()">Back To Homepage</button>
    <button type="button" class="btn btn-lg btn-primary" class="col-sm-3 btn-block" ng-click="signIn()" type="submit" >Sign In</button>
</form>
