<div>
    <div>
        <img width="100%" src="images/ecoPRT_Hunt.jpg" class="slide" alt="" />
    </div>
            
    <hr style="width: 100%; color: #33A6FF; height: 1px; background-color: #33A6FF;" />
    <div class="text-center">
        <section id="overview" class="mx-auto" style="width: 50%;">
            <div>
                <h1 >Overview</h1>
                <p class = lead >
                    EcoPRT is a light-weight and low-cost Ecological Personal Rapid Transit system that anyone can use. It consists of a system of autonomous two seat cars that communicate with a server to retrieve the best route to take you to your destonation. The director of the Engineering Entrepreneurs Program, Marshall Brain, and Dr. Seth Hollar, a teaching assistant professor in the Department of Mechanical and Aerospace Engineering have been working on the project since 2013.
                </p>
            </div>
        </section>
        </br>
        <section id="aboutdevelopers" class="mx-auto" style="width: 50%;">
            <div>
                <h1 >About the Developers</h1>
                <p class = lead >
                We are a Group of Computer Science Students taking Senior Design. We are working with Dr. Hollar and his three graduate students.
                </p>
            </div>
        </section>
        </br>
        <section id="contactus" class="mx-auto" style="width: 50%;">
            <div>
                <h1 >Contact Us</h1>
                <p class = lead >
                You can not contact us at this time.
                </p>
            </div>
        </section>
    </div>
</div>

