<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>EcoPRT Home Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="main.css">         
    </head>
    <body>

        <div>
            <nav class="navbar navbar-dark" style="background-color: #33A6FF  ;">
                <span class="navbar-brand mb-0 h1">EcoPRT</span>
                <form class="form-inline">
                    <a class="nav-link" style="color:#FFFFFF" href="EcoPRT_Home_Page.html" >Home</a>
                    <a class="nav-link" style="color:#FFFFFF" href="EcoPRT_SignUp_Page.html">Sign Up</a>
                    <a class="nav-link" style="color:#FFFFFF" href="EcoPRT_LogIn_Page.html">Log In</a>
                </form>
            </nav>
        </div>
        
        
        <div>
            <div>
                <img width="1796" height="500" src="img/ecoPRT_Hunt.jpg" class="slide" alt="" />
            </div>
            
            <hr/>
            <section id="overview" class = container>

                    <div>
                        <h2 >Overview</h2>
                        <p style="text-align:left; font-size:1.1rem;">
                        EcoPRT is a light-weight and low-cost Ecological Personal Rapid Transit system that anyone can use. It consists of a system of autonomous two seat cars that communicate with a server to retrieve the best route to take you to your destonation. The director of the Engineering Entrepreneurs Program, Marshall Brain, and Dr. Seth Hollar, a teaching assistant professor in the Department of Mechanical and Aerospace Engineering have been working on the project since 2013.
                        </p>
                </div>
            </section>
            
        </div>
    
    </body>
</html>
