<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>EcoPRT Login Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">    -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    </head>
    <body>
        <!-- Navigation -->
        <!-- <nav class="w3-bar w3-blue">
            <a href="EcoPRT_Home_Page.html" class="w3-button w3-bar-item">Home</a>
            <a href="EcoPRT_SignUp_Page.html" class="w3-button w3-bar-item">Sign Up</a>
            <a href="EcoPRT_LogIn_Page.html" class="w3-button w3-bar-item">Log In</a>
        </nav> -->
        <div ng-include="'/templates/navbar.html'"></div>
        
        <div class="text-center">
            <br/>
            <br/>
            <br/>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Email" ng-model="form.email">
            </div>
            <br/>
            <br/>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" ng-model="form.password">
            </div>
            <br/>
            <br/>
            <button type="button" class="btn btn-lg btn-danger" class="col-sm-3 btn-block" ng-click="home()">Back To Homepage</button>
            <button type="button" class="btn btn-lg btn-primary" class="col-sm-3 btn-block" ng-click="signIn()" type="submit" >Sign In</button>
        </div>
        
    </body>
</html>
