<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>EcoPRT Home Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="main.css">-->
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>

        <div>
            <nav class="navbar fixed-top navbar-dark"  style="background-color: #33A6FF ;">
                <a class="navbar-brand" href="#">EcoPRT</a>
                <form class="form-inline">

                    <a class="nav-link" style="color:#FFFFFF" href="EcoPRT_Home_Page.html" >Home <span class="sr-only">(current)</span></a>

                    <a class="nav-link" style="color:#FFFFFF" href="EcoPRT_SignUp_Page.html">Sign Up</a>

                    <a class="nav-link" style="color:#FFFFFF" href="EcoPRT_LogIn_Page.html">Log In</a>

                    <div class="dropdown">
    
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu
                        </button>
                        <!-- <a class="nav-link dropdown-toggle" href="#" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu
                        </a>-->
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
                            <a class="dropdown-item" href="#overview">Overview</a>
                            <a class="dropdown-item" href="#aboutdevelopers">About the Developers</a>
                            <a class="dropdown-item" href="#contactus">Contact Us</a>
                        </div>
                    </div>
                </form>
            </nav>
        </div>
        
        
        <div>
            <div>
                <img width="100%" height="100%" src="img/ecoPRT_Hunt.jpg" class="slide" alt="" />
            </div>
                    
            <hr style="width: 100%; color: #33A6FF; height: 1px; background-color: #33A6FF;" />
            <div class="text-center">
                <section id="overview" class="mx-auto" style="width: 50%;">
                    <div>
                        <h1 >Overview</h1>
                        <p class = lead >
                            EcoPRT is a light-weight and low-cost Ecological Personal Rapid Transit system that anyone can use. It consists of a system of autonomous two seat cars that communicate with a server to retrieve the best route to take you to your destonation. The director of the Engineering Entrepreneurs Program, Marshall Brain, and Dr. Seth Hollar, a teaching assistant professor in the Department of Mechanical and Aerospace Engineering have been working on the project since 2013.
                        </p>
                    </div>
                </section>
                </br>
                <section id="aboutdevelopers" class="mx-auto" style="width: 50%;">
                    <div>
                        <h1 >About the Developers</h1>
                        <p class = lead >
                        We are a Group of Computer Science Students taking Senior Design. We are working with Dr. Hollar and his three graduate students.
                        </p>
                    </div>
                </section>
                </br>
                <section id="contactus" class="mx-auto" style="width: 50%;">
                    <div>
                        <h1 >Contact Us</h1>
                        <p class = lead >
                        You can not contact us at this time.
                        </p>
                    </div>
                </section>
            </div>
        </div>
    
    </body>
</html>
