<nav class="navbar fixed-top navbar-dark"  style="background-color: #33A6FF ;">
    <a class="navbar-brand" href="#">EcoPRT</a>
    <form class="form-inline">
        
        <a class="nav-link" style="color:#FFFFFF" href="#" >Home</a>
        
        <a class="nav-link" style="color:#FFFFFF" href="/#!/ecoPRTSignUp">Sign Up</a>
        
        <a class="nav-link" style="color:#FFFFFF" href="/#!/ecoPRTLogin">Log In</a>
        
        <div class="nav-item dropdown hidden-md-down">
            
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </button>
            <!-- <a class="nav-link dropdown-toggle" href="#" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Menu
             </a>-->
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu" style="right: 0; left: auto;">
                <a class="dropdown-item" href="#overview">Overview</a>
                <a class="dropdown-item" href="#aboutdevelopers">About the Developers</a>
                <a class="dropdown-item" href="#contactus">Contact Us</a>
            </div>
        </div>
    </form>
</nav>
