<html>
	<head>
		<script src="https://code.angularjs.org/1.6.8/angular.min.js"></script>
		<script src="/js/app.js"></script>
	</head>
	<body ng-app="ecoprtApp" ng-controller="vehiclesCtrl">
			<nav class>
					<a href="home.html">Home</a>
					<a href="vehicles.html">Vehicles</a>
					<a href="rides.html">Rides</a>
					<a href="nodes.html">Nodes</a>
					<a href="edges.html">Edges</a>
				</nav>
		<ul>
			<li ng-repeat="vehicle in vehicles">
				{{vehicle}}
			</li>
			
			Name: <input type="text" ng-model="newVehicle.name"><br/>
			
			<button type="button" ng-click="addVehicle()" type="submit" >Add Vehicle</button>
		</ul>
	</body>
</html>